@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    width: 100vw;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: 080b12;
    height: 10px;
}

.content {
    height: 100%;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
    display: block;
}

.app {
    display: flex;
    position: relative;
}

.bg {
    background: radial-gradient( circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat, radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat, radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat, radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat, linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px) calc(100% - 16px) no-repeat, linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px) calc(100% - 10px) no-repeat, linear-gradient(353deg, #fc0303 0%, #0c78b2 100%);
    /* padding: 9px;
    box-sizing: border-box; */
}

.pp::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    margin: 5px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: linear-gradient(to right, red, orange);
}